/*
* Color
*/

/*
* Background color
*/

.bg-base-color-friendlyit {
    background-color: #42c29e !important;
}
.bg-friendlyit {
    background-color: #2d3845 !important;
}
.bg-friendlyit-first {
    background-color: #42c29e !important;
}
.bg-friendlyit-second {
    background-color: #0ca3c2 !important;
}
.bg-friendlyit-third {
    background-color: #189ead !important;
}
.bg-friendlyit-forth {
    background-color: #c5e2ed !important;
}


/*
* Button color
*/

.btn-base-color-friendlyit {
    background-color: #42c29e !important;
}


/*
* Text color
*/

.text-base-color-friendlyit {
    color: #189cab !important;
}
.text-base-color-friendlyit2 {
    color: #42c29e !important;
}
.text-friendlyit-grey {
    color: #2d3845
}