@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icons-mind/icomoon.eot?-rdmvgc');
	src:url('../fonts/icons-mind/icomoon.eot?#iefix-rdmvgc') format('embedded-opentype'),
		url('../fonts/icons-mind/icomoon.woff?-rdmvgc') format('woff'),
		url('../fonts/icons-mind/icomoon.ttf?-rdmvgc') format('truetype'),
		url('../fonts/icons-mind/icomoon.svg?-rdmvgc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Coding:before {
	content: "\e793";
}
.icon-Light-Bulb2:before {
	content: "\ea40";
}
.icon-Pencil:before {
	content: "\eb4f";
}