@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');

  .logo-box {
    padding: 2rem;
  }
  @media (max-width: 991px) {
    .mobile-display-none {
      display: none !important;
    }
  }
  @media (max-width: 1000px) {
    .logo-box {
      padding: 0 rem;
    }
  }
  @media (max-width: 850px) {
    .logo-box {
      width: 50vw
    }
  }
  .logo-text {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: left;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
  .friendlyit-header {
    font-size: 3rem;
  }
  .friendlyit-menu {
    font-size: 1.5rem;
  }
  .shadow-text {
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
  }
  .shadow-box {
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
  }
  .squares-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .square {
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.7rem;
  }
  .square-xl {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.7rem;
  }